#jsdom{
    background-color: blue;
    width: 70%;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 50px;
}

#divex2{
    width: 70%;
    margin: auto;
}

#ul2{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.li2{
    padding: 10px 50px;
    background-color: blue;
    color: white;
    text-align: start;
}

#div2{
    height: 100px;
    width: 70%;
    background-color: lightgray;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}