#div5{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    height: auto;
    width: 70%;
    background-color: lightgray;
    display: none;
}

#div51{
    margin-left: 20px;
}

#btnOeuf{
    background-color: green;
    color: white;
    border: none;
}

#btnEnlever{
    background-color: green;
    color: white;
    border: none;
}

#btnReset{
    background-color: green;
    color: white;
    border: none;
}