#div6{
    margin: auto;
    display: none;
    background-color: lightgray;
    padding: 20px 0px;
    width: 70%;
}

#calc{
    margin: auto;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#result{
    height: 30px;
    width: 250px;
    background-color: black;
}

#inptotal{
    height: 100%;
    width: 248px;
    text-align: end;
}

.div{
    height: 300px;
    width: 250px;
    background-color: black;
}

.colonne{
    display: flex;
    justify-content: space-around;
}

.chiffre{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 30px;
    background-color: white;
    margin: 10px;
}

.inp{
    width: 50px;
}

#div61{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}